/* © Juan Galisteo | Todos los derechos reservados */

* {
    margin: 0px; 
    display: block;
    box-sizing: border-box; 
}

/* PÁGINA PRINCIPAL */

biblioteca {
    background-color: #f4f4f9; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 20px; /* Espacio adicional alrededor del contenido */
}

/* CONTENIDO */
libro {
    background-color: #ffffff; 
    border-radius: 15px; /* Bordes redondeados */
    opacity: 0.9;
    width: 40vw;
    height: 30vw;
    margin: 2vw;
    padding: 20px;
    font-size: 1.2em;
    overflow: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; /* Animación suave */
}

libro:hover {
    transform: scale(1.05); /* Efecto al pasar el cursor */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra al pasar el cursor */
}

titulo {
    font-size: 2.3em;
    padding: .1em;
    text-align: center;
    color: #ffffff; 
    font-weight: bold; /* Negrita */
    font-family: Georgia, serif; /* Tipo de letra tipo libro */
}


/* DISEÑO Y MAQUETACIÓN */
autor {
    display: inline;
    color: rgb(44, 0, 0);
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    display: block;
    font-weight: bold; /* Negrita */
    text-align: center; /* Justificar el texto */
}

resumen {
    font-weight: 100;
    font-size: 1em;
    margin: .5em 0;
    color: #000000; 
    line-height: 1.6; /* Mejora la legibilidad */
    text-align: justify; /* Justificar el texto */
}

portada {
    width: 50%;
    height: 75%;
    float: left;
    margin: .5em;
    background-size: cover;
    border-radius: 10px; /* Bordes redondeados */
}

/* IMÁGENES */
portada[foto="kabbalah"] {
    background-image: url("imagenes/kabbalah.png");
}

portada[foto="piramide"] {
    background-image: url("imagenes/piramide.png");
}

portada[foto="sabiduria"] {
    background-image: url("imagenes/sabiduria.png");
}

portada[foto="1984"] {
    background-image: url("imagenes/1984.png");
}

/* COLORES PARA LOS APARTADOS DE LOS LIBROS */
libro:nth-child(1) {
    background-color: #be74bf;
}

libro:nth-child(2) {
    background-color: #009bdb;
}

libro:nth-child(3) {
    background-color: #35aa0e;
}

libro:nth-child(4) {
    background-color: #fa4e4e;
}


/*//////////////////////////////////////*/
/* PIE DE PÁGINA */
piepagina p {
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
