/* General para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del DNI */
dni {
    background-color: #f0f0f0; /* Fondo gris claro para la tarjeta */
    width: 500px; /* Ancho de la tarjeta */
    height: 700px; /* Alto de la tarjeta */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Fotografía del DNI */
fotografia {
    width: 120px;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #000;
}

/* Títulos y texto del DNI */
nombre, apellidos, fecha_nacimiento, nacionalidad {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 10px 0;
}

nombre {
    font-size: 1.5em;
    color: #0044cc; /* Color para el nombre */
}

apellidos {
    font-size: 1.2em;
    color: #444;
}

fecha_nacimiento, nacionalidad {
    font-size: 1em;
    color: #666;
}

/* PIE DE PÁGINA */
piepagina p {
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 20px; /* Aumento el padding para hacerlo más grande */
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Mantiene el pie de página en la parte inferior */
    left: 0; /* Alineación izquierda */
    margin: 0; /* Elimina el margen del pie de página */
    font-size: 1.5em; /* Aumento el tamaño de la fuente */
    font-weight: bold; /* Añade negrita */
}

/* Ajustes para que el pie de página siempre esté en la parte inferior */
dni {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ajuste para la imagen de la portada */
portada {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
