/* General para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PÁGINA PRINCIPAL */
movil {
    background-color: #333333; 
    color: #f1f1f1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
}

/* CONTACTO */
contacto {
    background-color: #4CAF50; 
    border-radius: 10px; 
    opacity: 0.9;
    width: 100%; 
    max-width: 600px; /* Aumentado para hacer el recuadro más grande */
    margin: 15px 0; 
    padding: 40px; /* Aumentado para dar más espacio dentro del recuadro */
    font-size: 1.3em; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; /* Efecto */
    display: block;
    margin-bottom: 10px; /* Espacio entre los elementos */
}

contacto:hover {
    transform: scale(1.05); /* Efecto  */
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4); /* Sombra al pasar el cursor */
}

/* DETALLES PARA CADA CONTACTO */
nombre {
    font-size: 1.7em;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 10px;
}

telefono {
    font-size: 1.1em;
    color: #e0e0e0; 
    margin-top: 5px;
}

email {
    font-size: 1.1em;
    color: #e0e0e0; 
    margin-top: 5px;
}

direccion {
    font-size: 1.1em;
    color: #e0e0e0; 
    margin-top: 5px;
}

/*//////////////////////////////////////*/
/* PIE DE PÁGINA */
piepagina p {
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
