body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    width: 1200px;
    margin: auto;
}

/* Encabezado */
header {
    background-color: #002c54;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.logo {
    position: absolute;
    left: 35px;
    width: 70px;
    height: auto;
}

header h1 {
    font-family: 'Poppins', sans-serif; /* Aplicar la tipografía Poppins */
    color: #FFFFFF;
    margin: 0;
    font-size: 30px; /* Tamaño de la fuente */
}

/* Recuadro naranja */
.recuadro-gris {
    background-color: #a5a5a5; /* Color naranja */
    height: 10px; /* Altura del recuadro */
}

.recuadro-azul {
    background-color: #002c54; /* Color azul */
    height: 10px; /* Altura del recuadro */
    margin: 0; /* Elimina el margen para evitar separación */
    width: 100%; /* Asegura que ocupe el ancho completo */
}


/* Icono de GitHub */
.iconogithub {
    width: 75px; /* Ajusta el tamaño del ícono */
    height: auto; /* Mantiene la proporción */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}


/* Navegación principal */
.menu-principal {
    background-color: #FFA500; /* Fondo naranja */
    padding: 10px; /* Espaciado interno */
    text-align: right; /* Centra el contenido */
    border-radius: 5px; /* Bordes redondeados */
    margin: 10px; /* Margen arriba y abajo */
}

.menu-principal nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #002c54; 
    margin: 10px; /* Espaciado entre enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 33px; /* Tamaño de la letra, ajusta según necesites */
}

.menu-principal nav a:hover {
    color: #FFFFFF; /* Mantiene el color del texto */
}



/* Contenido principal */
main {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.proyectos {
    font-family: 'Poppins', sans-serif; /* Aplica la tipografía Poppins */
    color: #000000; /* Color del texto */
    text-align: center; /* Centra el texto */
    font-size: 63px; /* Tamaño de fuente */
    margin: 20px 0; /* Espaciado arriba y abajo */
}

/* Estilo de los enlaces que dan acceso a los Archivos */
.menu {
    display: flex; /* Activa flexbox */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
    justify-content: center; /* Centra los elementos en la página */
    margin: 20px auto; /* Margen automático para centrar */
    width: 100%; /* Asegura que ocupe el ancho completo */
}

/* Estilo de los cuadros */
.cuadrados {
    background-color: #002c54; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    font-weight: bold; /* Aplica un grosor de fuente */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    height: 100px; /* Altura del cuadro */
    width: calc(25% - 40px); /* Ancho de cada cuadrado, ajustado para cuatro columnas */
    margin: 20px; /* Margen alrededor del cuadro */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Usa flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente el texto dentro del cuadro */
    justify-content: center; /* Centra horizontalmente el texto dentro del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px #000000; /* Agrega una sombra para un efecto de elevación */
}

/* Estilo de los enlaces dentro de los cuadros */
.cuadrados a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #ffffff; /* Color del texto del enlace */
    display: block; /* Asegura que el enlace ocupe todo el espacio del cuadro */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    text-align: center; /* Centra el texto */
    line-height: 60px; /* Alinea el texto verticalmente */
}

/* Estilo para el hover */
.cuadrados:hover {
    background-color: #FFA500; /* Color de fondo al pasar el mouse */
    color: white; /* Color del texto al pasar el mouse */
}

/* Imágenes */
.imagen-centro {
    width: 100%;
    height: auto;
}

/* Pie de página */
footer p {
    background-color: #77777733;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}















/* Pie de página */
footer p {
    background-color: #77777733;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}
