body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
    font-family: Arial, sans-serif; 
}

.formulario {
    width: 500px; 
    margin: auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px; /* Bordes redondeados */
}

h1 {
    text-align: center; 
    color: #000000; 
}

h3 {
    text-align: center; 
    color: #666; 
}

label {
    display: block; /* Hace que el label ocupe el ancho completo */
    margin: 10px 0 5px; /* Espaciado alrededor de los labels */
    color: #000000; 
}

/* AJUSTE DE ANCHO PARA TODOS LOS CAMPOS */
input[type="text"],
input[type="email"],
textarea {
    width: 95%; /* Ajusta el ancho de todos los campos */
    padding: 10px; /* Espaciado interno de todos los campos */
    border: 1px solid #ccc; /* Borde de todos los campos */
    border-radius: 4px; /* Bordes redondeados de todos los campos*/
    margin-bottom: 10px; /* Espaciado entre todos los campos */
}

textarea {
    height: 100px; /* Aumenta la altura del textarea para más espacio */
    resize: none; /* Evita redimensionar el textarea */
}

.campoobligatorio{
    color: red;
}

.enviarformulario {
    width: 100%; 
    padding: 10px; 
    background-color: #494949; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 15px; 
}

.enviarformulario:hover {
    background-color: #000000; /* Color más oscuro al pasar el cursor por el botón */
}

/* BOTÓN PARA REGRESAR AL MENÚ PRINCIPAL */
.volverinicio {
    text-align: center; 
    margin-top: 20px;
}

.volverinicio a {
    color: #000; 
    text-decoration: none; /* Sin subrayado en el enlace */
}

.volverinicio a:hover {
    text-decoration: underline; /* Cambio de color al pasar el cursor */
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
