body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #002c54;
  color: white;
  text-align: center;
  padding: 20px;
}

.subtitulo {
  font-size: 18px;
  color: orange;
  margin-top: 5px;
}

.contenido {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  color: #002c54;
  margin-bottom: 40px;
}

.zona-letra {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border: 2px dashed #002c54;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #be74bf; /* Letra en morado */
  background-color: white;
  border-radius: 10px;
}

footer p {
  background-color: #77777733;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 14px;
}
