body {
    font-family: Arial, sans-serif;
    padding: 0;

    /*REQUISITOS OBLIGATORIOS*/
    width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido */
}

/* ////////////////////////////////////////// */
/* CONFIGURACIÓN DE LOS TÍTULOS Y EL TEXTO */

h1 {
    text-align: center;
    font-size: 24px;
}

h2 {
    color: #000000;
    text-align: center;
}

/* Configuración del texto */
p {
    color: #000000;
    text-align: justify;
}

/* ////////////////////////////////////////// */

/* ENCABEZADO */
header {
    background-color: #002c54;
    display: flex; /* Utiliza Flexbox para la disposición de los elementos */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 20px;
    position: relative; /* Permite la posición absoluta de elementos secundarios */
}

.logo {
    position: absolute; /* Posición fija para el logo */
    left: 50px; /* Movimiento de la imagen */
    width: 50px; /* Tamaño de la imagen */
    height: auto; /* Mantiene la imagen proporcionada*/
    justify-content: center;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    text-align: center; /* Centra el contenido*/
}

/* Navegación principal */
nav {
    background-color: #a5a5a5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

nav a:hover {
    background-color: #ffffff; /* Cambio de color al pasar el cursor */
    color: #002c54;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

img {
    margin: auto;
    height: 100px;
    width: 100px;
}

.tabla {

    height: 1000px;
    width: 1000px;
    position: relative;
    margin: auto;
}
.casilla1 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marcoBlancoNegro.png);
    height: 100px;
    width: 100px;
    position: relative;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
}


.casilla2 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marcoBlancoNegro.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -100px;
    left: 100px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.casilla3 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -200px;
    left: 200px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.casilla4 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -300px;
    left: 300px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla5 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -400px;
    left: 400px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla6 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -500px;
    left: 500px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla7 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -600px;
    left: 600px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla8 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -700px;
    left: 700px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla9 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -800px;
    left: 800px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla10 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: relative;
    top: -900px;
    left: 900px;
}

.casilla11 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla12 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.casilla13 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.casilla14 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 300px;
}

.casilla15 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 400px;
}

.casilla16 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 500px;
}

.casilla17 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 600px;
}

.casilla18 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 700px;
}

.casilla19 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 800px;
}

.casilla20 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla21 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla22 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.casilla23 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.casilla24 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 300px;
}

.casilla25 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 400px;
}

.casilla26 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 500px;
}

.casilla27 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 600px;
}

.casilla28 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 700px;
}

.casilla29 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 800px;
}

.casilla30 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla31 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla32 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 100px;
}

.casilla33 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 200px;
}

.casilla34 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 300px;
}

.casilla35 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 400px;
}

.casilla36 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 500px;
}

.casilla37 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 600px;
}

.casilla38 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 700px;
}

.casilla39 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 800px;
}

.casilla40 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla41 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla42 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 100px;
}

.casilla43 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 200px;
}

.casilla44 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 300px;
}

.casilla45 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 400px;
}

.casilla46 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 500px;
}

.casilla47 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 600px;
}

.casilla48 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 700px;
}

.casilla49 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 800px;
}

.casilla50 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla51 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla52 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 100px;
}

.casilla53 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 200px;
}

.casilla54 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 300px;
}

.casilla55 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 400px;
}

.casilla56 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 500px;
}

.casilla57 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 600px;
}

.casilla58 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 700px;
}

.casilla59 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 800px;
}

.casilla60 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla61 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla62 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 100px;
}

.casilla63 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 200px;
}

.casilla64 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 300px;
}

.casilla65 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 400px;
}

.casilla66 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 500px;
}

.casilla67 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 600px;
}

.casilla68 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 700px;
}

.casilla69 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 800px;
}

.casilla70 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla71 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla72 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 100px;
}

.casilla73 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 200px;
}

.casilla74 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 300px;
}

.casilla75 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 400px;
}

.casilla76 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 500px;
}

.casilla77 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 600px;
}

.casilla78 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 700px;
}

.casilla79 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 800px;
}

.casilla80 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 700px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla81 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla82 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 100px;
    box-sizing: border-box;
}

.casilla83 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 200px;
}

.casilla84 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 300px;
}

.casilla85 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 400px;
}

.casilla86 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 500px;
}

.casilla87 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 600px;
}

.casilla88 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 700px;
}

.casilla89 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 800px;
}

.casilla90 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 800px;
    left: 900px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla91 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
}

.casilla92 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 100px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla93 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 200px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla94 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 300px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla95 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 400px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla96 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 500px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla97 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 600px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla98 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 700px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla99 {
    background-image: url(/Ejercicios/ajedrez/imagenes/blanco.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 800px;
    background-size: cover; /* Ancho y el alto del elemento ajustado. */
    /*Configuración texto*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.casilla100 {
    background-image: url(/Ejercicios/ajedrez/imagenes/marron.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 900px;
    left: 900px;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

/* BOTÓN PARA REGRESAR AL SUBIR ARRIBA DE LA PÁGINA PRINCIPAL */

#boton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    /* Esto asegura que la imagen se mantenga redonda */
}

#boton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p {
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed;
    /* Fija el pie de página en la parte inferior */
    bottom: 0;
    /* Elimina la posición en la parte inferior*/
    left: 0;
    /* Elimina la alineación a la izquierda*/
    margin: 0;
    /* Elimina el margen del pie de página */
}