body {
    font-family: Arial, sans-serif; /* Fuente principal */
    margin: 0; /* Margen externo del cuerpo */
    padding: 0; /* No habrá espacio interno alrededor del contenido */
    line-height: 1.6; /* Altura de las línea del texto */
    
    /*REQUISITOS OBLIGATORIOS*/
    width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido */
}

/* ////////////////////////////////////////// */
/* CONFIGURACIÓN DE LOS TÍTULOS Y EL TEXTO */  

/* ////////////////////////////////////////// */

/* ENCABEZADO */
header {
    background-color: #002c54;
    display: flex; /* Utiliza Flexbox para la disposición de los elementos */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 10px;
    position: relative; /* Permite la posición absoluta de elementos secundarios */
}

.logo {
    position: absolute; /* Posición fija para el logo */
    left: 50px;
    /* Movimiento de la imagen */
    width: 70px;
    /* Tamaño de la imagen */
    height: auto;
    /* Mantiene la imagen proporcionada*/
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    text-align: center;
    /* Centra el contenido*/
}

/* ////////////////////////////////////////// */

/* Navegación principal */
nav {
    background-color: #a5a5a5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

nav a:hover {
    background-color: #ffffff; /* Cambio de color al pasar el cursor */
    color: #002c54;
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
