body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /*REQUISITOS OBLIGATORIOS*/
    max-width: 100%; /* Ancho máximo del contenido */
}

/* Contenedor de la tabla centrado */
.tabla-contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura según tus necesidades */
}

/* ENCABEZADO */
header {
    background-color: #002c54;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.logo {
    position: absolute;
    left: 50px;
    width: 50px;
    height: auto;
    justify-content: center;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Navegación principal */
nav {
    background-color: #a5a5a5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff;
    color: #002c54;
}

h1 {
    text-align: center;
    font-size: 24px;
}

h2 {
    color: #000000;
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px 100px;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse; /* Elimina el espacio entre celdas */
}

.fila{
    color: rgb(0, 0, 0);
    background-color: #e49953;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.columna{
    color: rgb(0, 0, 0);
    background-color: #e49953;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.esquina{
    height: 30px;
    width: 30px;
    background-color: #e49953;
}

.blanco{
    height: 100px;
    width: 100px;
    background-color: #f1d8b2;
}

.negro{
    height: 100px;
    width: 100px;
    background-color: #5b3715;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

/* BOTÓN PARA REGRESAR AL SUBIR ARRIBA DE LA PÁGINA PRINCIPAL */

#boton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* Esto asegura que la imagen se mantenga redonda */
}

#boton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ////////////////////////////////////////// */

/* BOTÓN PARA REGRESAR AL MENÚ PRINCIPAL */
.volverinicio {
    text-align: center; 
    margin-top: 20px; 
}

.volverinicio a {
    color: #ffffff; 
    background-color: #002c54; 
    padding: 10px 20px; /* Espaciado interno para agrandar el botón */
    border-radius: 8px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; 
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

.volverinicio a:hover {
    background-color: #ffa500; 
    transform: scale(1.05); /* Efecto de agrandado suave */
    text-decoration: none; /* Mantiene el texto sin subrayado */
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}


