body {
    font-family: Arial, sans-serif;
    padding: 0;

    /*REQUISITOS OBLIGATORIOS*/
    width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido */
}

/* ////////////////////////////////////////// */

/* ENCABEZADO */
header {
    background-color: #002c54;
    display: flex; /* Utiliza Flexbox para la disposición de los elementos */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 20px;
    position: relative; /* Permite la posición absoluta de elementos secundarios */
}

.logo {
    position: absolute; /* Posición fija para el logo */
    left: 50px;
    /* Movimiento de la imagen */
    width: 50px;
    /* Tamaño de la imagen */
    height: auto;
    /* Mantiene la imagen proporcionada*/
    justify-content: center;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    text-align: center; /* Centra el contenido*/
}

/* Navegación principal */
nav {
    background-color: #a5a5a5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

nav a:hover {
    background-color: #ffffff; /* Cambio de color al pasar el cursor */
    color: #002c54;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

/* ////////////////////////////////////////// */
/* CONFIGURACIÓN DE LOS TÍTULOS Y EL TEXTO */ 

h1 {
    text-align: center;
    font-size: 24px;
}


h2 {
    color: #FFFFFF;
}

p {
    color: #000000;
    text-align: justify;
}

img{

    position: relative;
    margin: auto;
    height: 100px;
    width: 100px;
}

table {

    margin: auto;
}

th, td {
    padding: 20px;
    text-align: center;
}

h2{
    color: #000000;
    text-align: center;
}

.blanco{
    height: 100px;
    width: 100px;
    background-color: #f1d8b2;
}

.negro{
    height: 100px;
    width: 100px;
    background-color: #5b3715;
}

.marco {
    height: auto;
    width: 15px;
    text-align: center;
    font-size: 10px;
    background-color: #e49953;

}

.sinficha{
    height: 140px;
    width: 100px;
    background-color: #ffffff;
}
  

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

/* BOTÓN PARA REGRESAR AL SUBIR ARRIBA DE LA PÁGINA PRINCIPAL */

#boton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* Esto asegura que la imagen se mantenga redonda */
}

#boton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}



