body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    width: 1200px;
    margin: auto;
}

/* Encabezado */
header {
    display: flex;
    justify-content: center;
    background-color: #002c54;
    padding: 10px;
    position: relative; 
}

header img {
    position: absolute;
    left: 50px;
    width: 70px;
    height: auto;
}

header h1 {
    color: white;
    margin: 0;
    text-align: center;
}

/* Navegación principal */
nav {
    background-color: #a5a5a5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #ffffff;
    color: #002c54;
}

/* Contenido principal */
main {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    border-top: 45px solid #ffffff;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #000000;
}

p {
    color: #000000;
    text-align: justify;
}

.cita {
    color: #000000;
    text-align: justify;
    max-width: 915px;
    margin: 0 auto;
}

/* Centrado de videos */
.video-centro {
    display: flex;
    justify-content: center; /* Centra horizontalmente el video */
    margin: 20px 0; /* Espacio superior e inferior */
}

/* Imágenes */
.imagen-centro {
    width: 100%;
    height: auto;
}

.imagen {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center; /* Centra el texto del pie de figura */
    color: #555; /* Color del pie de figura */
    margin: 15px; /* Margen para separar del contenido superior e inferior */
}

/* Pie de página */
footer p {
    background-color: #a3a3a333;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}