body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* CONFIGURACIÓN DE LA CABECERA PRINCIPAL Y EL LOGOTIPO */

header {
    display: flex;
    align-items: center; /* Para alinear verticalmente la imagen y el texto */
    justify-content: center; /* Para centrar el contenido horizontalmente */
    background-color: #002c54;
    padding: 10px;
    position: relative; /* Para posicionar la imagen de forma absoluta */
}

header img {
    position: absolute; /* Alinea la imagen en una posición fija dentro del encabezado */
    left: 250px; /* Para mover la imagen hacia el borde izquierdo */
    width: 50px; /* Para ajustar el tamaño de la imagen */
    height: auto;
}

header h1 {
    color: white;
    margin: 0;
    width: 100%; /* Para asegurar que el título ocupe todo el ancho del encabezado */
    text-align: center; /* Para centrar el título dentro del espacio disponible */
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00a89e;
    color: white;
    padding: 10px;
    text-align: center;
}
nav a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;

/* Final configuración de la cabecera principal y el logotipo */

/* TODA LA INFORMACIÓN Y ESTRUCTURA DE LA PÁGINA */

}
main {
    padding: 20px;
}
h2{
    color: #ffffff;
}
h3 {
    color: #000000;
}

article {
    margin-bottom: 30px;
}

video, audio {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
}
iframe {
    width: 100%;
    max-width: 600px;
    height: 340px;
    display: block;
    margin: 10px auto;
}
img {
    width: 500%;
    max-width: 600px;
    height: 400px;
    display: block;
    margin: 10px auto;
}

figure {
    text-align: center;
}
figcaption {
    font-style: italic;
    color: #555;
}

/* Final toda información y estructura de la página */
footer p {
    margin: 0;
}
section footer, footer {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}