body {
    font-family: Arial, sans-serif; /* Fuente principal */
    margin: 0; /* Margen externo del cuerpo */
    padding: 0; /* No habrá espacio interno alrededor del contenido */
    line-height: 1.6; /* Altura de las línea del texto */
    
    /*REQUISITOS OBLIGATORIOS*/
    width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido */
}

/* ////////////////////////////////////////// */
/* CONFIGURACIÓN DE LOS TÍTULOS Y EL TEXTO */  
h2 {
    color: #FFFFFF;
}

h3 {
    color: #000000;
}

/* Configuración del texto */
p {
    color: #000000;
    text-align: justify;
}
/* ////////////////////////////////////////// */

/* ENCABEZADO */
header {
    background-color: #002c54;
    display: flex; /* Utiliza Flexbox para la disposición de los elementos */
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 10px;
    position: relative; /* Permite la posición absoluta de elementos secundarios */
}

.logo {
    position: absolute; /* Posición fija para el logo */
    left: 50px;
    /* Movimiento de la imagen */
    width: 70px;
    /* Tamaño de la imagen */
    height: auto;
    /* Mantiene la imagen proporcionada*/
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    text-align: center;
    /* Centra el contenido*/
}

/* Navegación principal */
nav {
    background-color: #a5a5a5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

nav a:hover {
    background-color: #ffffff; /* Cambio de color al pasar el cursor */
    color: #002c54;
}

/* Navegación secundaria */
.menu nav {
    background-color: #FFA500;
    padding: 10px;
    text-align: center;
}

.menu nav a {
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}

.menu nav a:hover {
    color: #ffffff;
    background-color: #002c54;
}

/* CONTENIDO PRINCIPAL */

main {
    padding: 0;
    width: 100%; /* Asegura que el ancho del main se ajuste al del body */
    margin: 0 auto; /* Centra el contenido del main */
    border-top: 45px solid #ffffff; /* Aplica una línea de separación en la parte superior */
}

.cita {
    color: #000000;
    text-align: justify;
    max-width: 930px; /* Ancho máximo del texto en citas */
    margin: 0 auto; /* Centra horizontalmente la cita */
}

/* DISEÑO DE LA PÁGINA */

.diseño {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio */
    justify-content: center;
    padding: 10px;
    position: relative;
}

/* DISEÑO GENERAL */
.diseño article {
    flex: 1; /* Permite que el artículo ocupe el espacio disponible */
    max-width: 1200px; /* Ancho máximo del artículo */
}

.diseño figure {
    max-width: 500px;
}

.diseño aside {
    max-width: 560px;
}

/* Diseño de los subtitulos */
.minititulo {
    color: #333;
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
    font-size: 24px; /* Tamaño de la fuente para el subtítulo */
}

/* IMÁGENES */
.imagencentro {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.imagen {
    width: 100%;
    text-align: center;
    height: auto;
    /* Mantiene la proporción de la imagen */
}

/* VÍDEOS */
.video {
    display: flex;
    height: auto; /* Mantiene la proporción de la imagen o video */
    text-align: center;
    margin: 20px; /* Margen para separar del contenido superior e inferior */
    flex-direction: column; /* Alinea el audio y el texto uno encima del otro */
}

.video-centro {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el video */
    margin: 20px 0; /* Espacio superior e inferior */
}

/* AUDIOS */
.audio {
    display: flex;
    flex-direction: column; /* Alinea el audio y el texto uno encima del otro */
    text-align: center;
    margin: 20px; /* Margen para separar del contenido superior e inferior */
}

audio {
    display: flex;
    text-align: center;
    width: 400px; 
}

/* NOTA PARA LAS IMÁGENES, VIDEOS, AUDIOS Y PDF */
figcaption {
    font-style: italic;
    color: #555;
    margin: 5px;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

/* BOTÓN PARA REGRESAR AL SUBIR ARRIBA DE LA PÁGINA PRINCIPAL */

#boton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* Esto asegura que la imagen se mantenga redonda */
}

#boton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
