body {
    font-family: Arial, sans-serif;
    /* Define la fuente principal del documento */
    margin: 0;
    /* Elimina el margen por defecto del navegador */
    padding: 0;
    /* Elimina el relleno por defecto del navegador */
    line-height: 1.6;
    /* Aumenta el espacio entre líneas para mejorar la legibilidad */
    width: 1000px;
    /* Define el ancho del cuerpo */
    margin: auto;
    /* Centra el contenido del body */
}


/* ////////////////////////////////////////// */


/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002c54;
    padding: 10px;
    position: relative;
    margin-bottom: 0;
}

header img {
    position: absolute;
    left: 50px;
    width: 50px;
    height: auto;
}

header h1 {
    color: white;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Navegación */
nav {
    background-color: #a5a5a5;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* ////////////////////////////////////////// */

/* Contenido principal */
main {
    padding: 20px;
}

h2 {
    color: white;
}

h3,
p {
    color: rgb(0, 0, 0);
}

/* ////////////////////////////////////////// */


/* Clase para diseño flex del artículo y el video */


.imagen-centro {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;

}

.imagen {

    width: 100%;
    /* Ajusta el ancho al 100% del contenedor */
    max-width: 800px;
    /* Define un tamaño máximo, puedes cambiar este valor */
    height: auto;
    /* Mantiene la proporción de la imagen o video */
    transition: transform 0.3s ease;
    /* Suaviza el cambio de tamaño */
    text-align: center;
    margin-top: 0;
}

.video {
    width: 100%;
    /* Ajusta el ancho al 100% del contenedor */
    max-width: 800px;
    /* Define un tamaño máximo, puedes cambiar este valor */
    height: auto;
    /* Mantiene la proporción de la imagen o video */
    transition: transform 0.3s ease;
    /* Suaviza el cambio de tamaño */
}











.diseño {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.diseño article {
    flex: 1;
    max-width: 600px;
}

.diseño figure {
    flex: 1;
    max-width: 560px;
}









/* ////////////////////////////////////////// */


/* Pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.48);
    color: #f5f5f5;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}