body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}




/* Estilo para Medios y Figuras */
video,
audio {
    width: 100%;
    /* Asegura que los elementos de video y audio ocupen todo el ancho disponible */
    max-width: 600px;
    /* Establece un ancho máximo para los elementos multimedia */
    display: block;
    /* Hace que los elementos se comporten como bloques */
    margin: 10px auto;
    /* Centra los elementos con margen superior e inferior */
}

iframe {
    width: 100%;
    /* Asegura que el iframe ocupe todo el ancho disponible */
    max-width: 600px;
    /* Establece un ancho máximo */
    height: 340px;
    /* Altura fija para el iframe */
    display: block;
    /* Hace que el iframe se comporte como un bloque */
    margin: 10px auto;
    /* Centra el iframe */
}

img {
    width: 500%;
    /* Ajusta el ancho de la imagen al 500% (podría ser un error) */
    max-width: 600px;
    /* Establece un ancho máximo para las imágenes */
    height: 400px;
    /* Altura fija para las imágenes */
    display: block;
    /* Hace que la imagen se comporte como un bloque */
    margin: 10px auto;
    /* Centra la imagen */
}

figure {
    text-align: center;
    /* Centra el contenido dentro de la figura */
}

figcaption {
    font-style: italic;
    /* Estilo en cursiva para el pie de figura */
    color: #555;
    /* Color del texto del pie de figura */
}

/* Estilo del Footer */

footer p {
    margin: 0;
    /* Elimina el margen por defecto en los párrafos del footer */
    text-align: center;
    /* Centra el texto en el footer */
}

section footer, footer {
    font-family: Arial, sans-serif;
    /* Define la fuente del footer */
    background-color: #002c54;
    /* Color de fondo del footer */
    color: white;
    /* Color del texto del footer */
    padding: 10px;
    /* Espaciado interno */
}