body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /*REQUISITOS OBLIGATORIOS*/
    width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido */
}

/* ENCABEZADO */
header {
    background-color: #002c54;
    display: flex;
    align-items: center;
    position: relative;
}

/* DISEÑO LOGOTIPO */
header img {
    position: absolute;
    left: 50px;
    width: 70px;
    height: auto;
}

/* DISEÑO LETRAS */
header h1 {
    color: white;
    width: 100%;
    text-align: center;
}

/* NAVEGACIÓN */
nav ul {
    background-color: #a5a5a5;
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

nav ul li {
    margin: 15px;
}

/* ESTILO DE LOS ENLACES DE NAVEGACIÓN */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* CONTENIDO PRINCIPAL */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* ESTILO DE LOS ENLACES QUE DAN ACCESO A LOS ARCHIVOS */
.enlacescuadrados {
    background-color: #002c54;
    color: #ffffff;
    font-weight: bold; /* Aplica un grosor de fuente */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center; /* Centra verticalmente el texto dentro del cuadro */
    justify-content: center; /* Centra horizontalmente el texto dentro del cuadro */
    border-radius: 10px; /* Redondea las esquinas del cuadro */
    box-shadow: 2px 2px 10px #000000; /* Agrega una sombra para un efecto de elevación */
}

/* ESTILO DE LOS ENLACES DENTRO DE LOS CUADROS */
.enlacescuadrados a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #ffffff;
}

.enlacescuadrados:hover {
    background-color: #FFA500; /* Cambio de color al pasar el cursor */
    color: white;
}

/* CAMBIO DE TEMA OSCURO/CLARO */
.cambiotemacolor {
    background-color: darkblue;
    color: white;
    border: 2px solid white; /* Define el borde de la caja */
    padding: 3px;
    font-size: 16px; /* Aumenta el tamaño de la fuente */
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

/* BOTÓN PARA REGRESAR AL SUBIR ARRIBA DE LA PÁGINA PRINCIPAL */

#boton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* Esto asegura que la imagen se mantenga redonda */
}

#boton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
