body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #002c54;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .subtitulo {
    font-size: 18px;
    color: orange;
    margin-top: 5px;
  }
  
  .contenido {
    padding: 40px 20px;
    text-align: center;
  }
  
  h2 {
    color: #002c54;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  
  .calculo, .resultado {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #be74bf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #002c54;
  }
  
  footer p {
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    font-size: 14px;
  }
  