body {
    font-family: Arial, sans-serif; /* Fuente principal */
    margin: 0; /* Margen externo del cuerpo */
    padding: 0; /* No habrá espacio interno alrededor del contenido */
    background-color: #f5f5f5; /* Color de fondo de la página */
    display: flex;
    height: 100vh; /* Hace que quede la calculado en medio */

    /*REQUISITOS OBLIGATORIOS*/
    width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido */
}


/* DISEÑO DE LA CALCULADORA */
.diseñotabla {
    width: 500px; /* Ancho del contenedor */
    margin: auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra para un efecto de elevación */
}

/* CONFIGURACIÓN TEXTO */
h1 {
    text-align: center; 
    color: #333; 
}

/* CONFIGURACIÓN TABLA */
.calculadora {
    width: 100%; /* Ancho completo */
    border: 2px solid #333; 
    border-collapse: collapse; /* Colapsar bordes */
    margin: 20px 0; /* Espacio arriba y abajo */
}

/* CONFIGURACIÓN PRIMERA FILA QUE SIMULA LA PANTALLA */
.pantalla {
    background-color: #e0e0e0; 
    font-size: 24px; 
    height: 50px; /* Altura de la pantalla */
    text-align: right; 
    padding: 10px;
    border: 2px solid #333; /* Borde alrededor de la pantalla */
}

/* CONFIGURACIÓN FILAS Y COLUMNAS */
th,
td {
    border: 1px solid #333; /* Borde de las celdas */
    padding: 20px; 
    text-align: center; 
    font-size: 24px; 
    background-color: #f9f9f9;
}

td:hover {
    background-color: #ddd; /* Cambio de color al pasar el cursor */
}

/* BOTÓN PARA REGRESAR AL MENÚ PRINCIPAL */
.volverinicio {
    text-align: center; /* Centra el enlace */
    margin-top: 20px; /* Espaciado superior */
}

.volverinicio a {
    color: #000000; /* Color azul */
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; /* Tamaño de fuente */
}

.volverinicio a:hover {
    text-decoration: underline; /* Cambio de color al pasar el cursor */
}

/* ////////////////////////////////////////// */

/* PIE DE PÁGINA */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Elimina la posición en la parte inferior*/
    left: 0; /* Elimina la alineación a la izquierda*/
    margin: 0; /* Elimina el margen del pie de página */
}
