body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d3d3d3;
}

/* Estilo para el color de fondo de la tabla de las horas */
.rellenocolorhoras {
    background-color: #f0f0f0;
}

/* Estilos de color para las asignaturas */
.naranja {
    background-color: #e96b00;
    color: rgb(0, 0, 0);
}

.amarillo {
    background-color: #fbc316;
}

.rosa {
    background-color: #e8757f;
    color: rgb(0, 0, 0);
}

.azul {
    background-color: #009bdb;
    color: rgb(0, 0, 0);
}

.rojo {
    background-color: #fa4e4e;
    color: rgb(0, 0, 0);
}

.morado {
    background-color: #be74bf;
    color: rgb(0, 0, 0);
}

.verdeclaro {
    background-color: #35aa0e;
    color: rgb(0, 0, 0);
}

.verde {
    background-color: #00913e;
    color: rgb(0, 0, 0);
}

/* Boton para regresar al menú principal */

.volverinicio {
    text-align: center; /* Centra el enlace */
    margin-top: 20px; /* Espaciado superior */
}

.volverinicio a {
    color: #000000; /* Color azul */
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; /* Tamaño de fuente */
}

.volverinicio a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Pie de página */
footer p{
    background-color: #77777733;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed;
    /* Fija el pie de página en la parte inferior */
    bottom: 0;
    /* Elimina la posición en la parte inferior*/
    left: 0;
    /* Elimina la alineación a la izquierda*/
    margin: 0;
    /* Elimina el margen del pie de página */
}